<div class="main-container login" [class.alternative]="true">
  <div *ngIf="recover === false; else recoverBlock" class="form animated fadeIn">
    <img src="../../../assets/img/FPDLAILNYAPASDEFONDOK.png" class="logo" [ngClass]="{'animated': hover, 'pulse': hover}" (mouseenter)='triggerAnim()'
      (mouseleave)='triggerAnim()' />
    <div class="divider"></div>
    <div class="formContainer">
      <form [formGroup]="loginForm">
        <mat-form-field appearance="outline" class="input">
          <mat-label>Username</mat-label>
          <input id="loginInput" matInput class="mylabel" formControlName="username">
          <mat-error *ngIf="loginForm.invalid">{{getErrorMessageLoginUsername()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="input">
          <mat-label>Password</mat-label>
          <input id="passwordInput" matInput class="mylabel" type='password' formControlName="password">
          <mat-error *ngIf="loginForm.invalid">{{getErrorMessageLoginPassword()}}</mat-error>
        </mat-form-field>
      </form>
      <div>
        <mat-checkbox id="rememberInput" class="lightCheckbox" color="primary" [(ngModel)]="remember">
          <label class="mylabel">Remember me</label>
        </mat-checkbox>
        <a class="mylabel link" (click)="handleRecover()">forget info ?</a>
      </div>
      <button class="loginButton button" mat-stroked-button color="primary" (click)="login()">Login</button>
    </div>
  </div>

  <ng-template #recoverBlock>
    <div class="form animated fadeIn">
      <img src="../../../assets/img/FPDLAILNYAPASDEFONDOK.png" class="logo" [ngClass]="{'animated': hover, 'pulse': hover}" (mouseenter)='triggerAnim()'
        (mouseleave)='triggerAnim()' />
      <div class="divider"></div>
      <div class="formContainer">
        <p class="mylabel question">Forgot your account's password?</p>
        <form [formGroup]="recoverForm">
          <mat-form-field appearance="outline" class="input">
            <mat-label>Email</mat-label>
            <input id='emailInput' matInput class="mylabel" formControlName="email">
            <mat-error *ngIf="recoverForm.invalid">{{getErrorMessageEmail()}}</mat-error>
          </mat-form-field>
        </form>
        <div>
          <a class="mylabel returnlink" (click)="handleRecover()"> Return to login</a>
        </div>
        <button class="recoverButton button" mat-stroked-button color="primary" (click)="sendRecoverMessage()">Send password
          reset</button>
      </div>
    </div>
  </ng-template>
</div>