.login{
    background: #009688; /**Backup colour in case the browser hates gradients**/
    background: linear-gradient(#009688, #1976D2);
    overflow: hidden;
}

.form{
    position: absolute;
    left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
    border: 1px solid #FFFFFF ;
    border-radius: 4px;
    background: transparent;
    margin: auto;
    width: 260px;
    height: 400px;
    display: grid;
    padding: 15px;
}

.mylabel {
    color:#FFFFFF !important;
    text-align: center;
   }

.forgetlink{
    float: right;
    cursor: pointer;
}
.returnlink{
    float: right;
    cursor: pointer;
    margin-bottom: 25x;
}
.title{
    font-size: 40px;
    margin-top :20px;
    margin-bottom: 10px;
}
.question{
    font-size: 30px;
    margin-top :20px;
    margin-bottom: 10px;
}
.loginButton{
    margin-bottom: 10px;
}

.recoverButton{
    position: absolute;
    bottom: 20px;
    height: 53px;
    width: 260px;
    margin-left: 15px;
}
.input {
    width: 100%
}
.logo{
    height: 100px;
    margin: auto;
}
