@import '~@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-orange, 800);
$accent:  mat-palette($mat-light-blue, 600, 100, 800);
$warn:    mat-palette($mat-red, 600);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);


$alt-primary : mat-palette($mat-grey,200);
$alt-accent: mat-palette($mat-grey,200);

$alt-theme : mat-dark-theme($alt-primary,$alt-accent);

.alternative{
    @include mat-button-theme($alt-theme);
    @include mat-form-field-theme($alt-theme);
    @include mat-checkbox-theme($alt-theme);
}