@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    font-family: 'Marck Script', cursive !important;
}

.main-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.snackBar {
    background-color: white !important;
    color: #1976D2 !important;
    border-bottom: solid 2px #1976D2 !important;
    border-left: solid 2px #1976D2 !important;
}

.snackBarError {
    background-color: white !important;
    color: #E91E63 !important;
    border-bottom: solid 2px #E91E63 !important;
    border-left: solid 2px #E91E63 !important;
}

.snackBarSuccess{
    background-color: white !important;
    color: #009688 !important;
    border-bottom: solid 2px #009688 !important;
    border-left: solid 2px #009688 !important;
}
